.main{
    margin: auto;
    background: black;
}
li{
    border:3px solid lightpink;
    float: left;
    margin-top: 30px;
    margin-left: 100px;
    width: 180px;
    background-color: gray;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}
ul{
    list-style: none;
    list-style: none;
    margin:0px;
    padding:0px;
}
a{
    color: azure;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}
li:hover{
    border:3px pink;
    height: 50px;
    background: black;
    cursor: pointer;
}
li:hover a{
    border:3px pink;
    color: aqua;
}
table{
    width: 100%;
}
table, th, td {
    border:1px solid black;
    height: 30px;
}
div{
    padding: 200px;
    padding-bottom: 40px;
}
td{
    text-align: center;
    font-weight: bolder;
    color: blue;
}
.b1{
    background-color: lightpink;
    color: black;
}
.tbl2{
    margin-top: 0px;
    padding-top: 0%;
}